[user]
	email = antenmanuuel01@gmail.com
	name = Anten Manuuel

[color]
    diff = auto
    status = auto
    ui = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions

[alias]
    pm= "!git push -u origin master"
    c = commit -m
    co = checkout
    a = add -A
    st = status
    pu = push
    pl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[push]
    default = simple
